<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head :: head">
</head>

<body>

	<header>
		<nav th:replace="/fragments/nav-bar :: navbar-light"></nav>
	</header>
	<main sec:authorize="isAuthenticated()">
		<div class="body-contenedor">
			<div class="contenedor-sesion">
				<div class="seccion">
					<div class="titulo-seccion">
						<h5>CONMEMORACION</h5>
					</div>

					<form th:action="@{/conmemoracion/save}" method="POST" enctype="multipart/form-data">
						<div class="carta-seccion peligro" th:if="${error}" th:text="${error}" role="alert">
						</div>
						<div class="carta-seccion acierto" th:if="${success}" th:text="${success}" role="success">
						</div>
						<div class="form-input">
							<input type="text" name="nombre" placeholder="Nombre">
							<div class="icono">
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="form-input">
							<input type="text" name="apellido" placeholder="Apellido">
							<div class="icono">
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="form-input">
							<label>Fecha de nacimiento</label></br>
							<input type="date" name="fechaNacimiento">
							<div class="icono">
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="form-input">
							<label>Fecha de defuncion</label></br>
							<input type="date" name="fechaDefuncion">
							<div class="icono">
								<i class="fas fa-unlock"></i>
							</div>
						</div>
						<div class="form-input">
							<label>Foto Perfil Conmemoracion</label>
							<input type="file" name="foto">
							<div class="icono">
								<i class="fas fa-unlock"></i>
							</div>
						</div>
						<div class="form-input">
							<label>Foto Portada Conmemoracion</label>
							<input type="file" name="fotoPortada">
							<div class="icono">
								<i class="fas fa-unlock"></i>
							</div>
						</div>
						<div class="form-terminos">
							<input type="checkbox" id="acepto">
							<span>
								Acepta los
								<a href="#">terminos</a> y
								<a href="#">condiciones</a>
							</span>
						</div>
						<div class="form-bottom">
							<button type="submit" class="btn-form">
								Conmemorar
							</button>
						</div>
					</form>
					<!-- CAMBIA EL COLOR DE LA CARTA CON ACIERTO, ALERTA, PELIGRO -->
					<!-- <div class="carta-seccion peligro">
                        El usuario o contraseña es incorrecto
                    </div> -->
				</div>
				<div class="divisor">
					<div class="contenedor-icono">
						<!-- <i class="far fa-id-card"></i> -->
					</div>
				</div>
				<!--			<div class="seccion">
					<div class="titulo-seccion">
						<h5>Iniciar sesión</h5>
					</div>
					<div class="iniciar-con">
						<div class="form-boton">
							<button type="submit" class="btn-form facebook">
								<i class="fab fa-facebook-square"></i>
								Facebook
							</button>
						</div>
						<div class="form-boton">
							<button type="submit" class="btn-form google">
								<i class="fab fa-google"></i>
								Google
							</button>
						</div>
						<div class="form-boton">
							<button type="submit" class="btn-form apple">
								<i class="fab fa-apple"></i>
								Apple ID
							</button>
						</div>
					</div>
					<form class="form-registro" action="#" method="post" accept-charset="utf-8">
						<div class="form-input">
							<input type="email" placeholder="Email">
							<div class="icono">
								<i class="fas fa-envelope"></i>
							</div>
						</div>
						<div class="form-input">
							<input type="password" placeholder="Contraseña">
							<div class="icono">
								<i class="fas fa-unlock"></i>
							</div>
						</div>
						<div class="form-bottom">
							<button type="submit" class="btn-form iniciar">
								Iniciar
							</button>
						</div>
					</form>
				</div>-->
			</div>
		</div>
	</main>

	<footer th:replace="/fragments/footer :: footer">
	</footer>

	<script src="https://kit.fontawesome.com/4e7e88b187.js" crossorigin="anonymous"></script>
</body>

</html>